h1 {
  color: hsl(33, 46%, 95%);
  text-align: center;
}

body {
  background-color: hsl(33, 46%, 95%);
}

.content {
  max-width: 960px;
  min-height: 50px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(33, 46%, 95%);
}

.axis {
  font: 12px sans-serif;
}

.axisX path,
.axisX line,
.axisY path,
.axisY line {
  fill: none;
  stroke: #000;
  stroke-width: 2.5px;
}

.tick line {
  stroke-width: 1.5px;
	opacity: 0.2
}

.refY {
  stroke-width: 1.5px;
	opacity: 1
}

.point {
  fill: none;
  stroke-width: 2.5px;
}

.line {
  fill: none;
  stroke-width: 2.5px;
}

.area {
  opacity: 0.4;
  stroke: none;
}

