* {box-sizing: border-box}

/* Set height of body and the document to 100% */
body, html {
  background-color: hsl(33, 46%, 95%);
  height: 100%;
  margin: 0;
  font-family: Arial;
}

label {
  display: inline-block;
  width: 120px;
  text-align: right;
}

/* Style tab links */
.tablink {
  background-color: hsl(33, 46%, 85%);
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 33.333%;
}

.tablink:hover {
  background-color: hsl(33, 46%, 75%);
}

.tabactive {
  background-color: hsl(33, 46%, 95%);
  float: left;
  border: none;
  outline: none;
  padding: 14px 16px;
  font-size: 17px;
  width: 33.333%;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  display: none;
  padding: 50px 20px;
  background-color: hsl(33, 46%, 95%);
}

.axis {
  font: 12px sans-serif;
}

.axisX path,
.axisX line,
.axisY path,
.axisY line {
  fill: none;
  stroke: #000;
  stroke-width: 2.5px;
}

.tick line {
  stroke-width: 1.5px;
	opacity: 0.2
}

.refY {
  stroke-width: 1.5px;
	opacity: 1
}

.point {
  fill: none;
  stroke-width: 2.5px;
}

.line {
  fill: none;
  stroke-width: 2.5px;
}

.area {
  opacity: 0.4;
  stroke: none;
}

